@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 43 20% 94%;
    --foreground: 43 10% 20%;

    --card: 43 20% 94%;
    --card-foreground: 43 10% 20%;

    --popover: 43 20% 94%;
    --popover-foreground: 43 10% 20%;

    --primary: 43 90% 50%;
    --primary-foreground: 43 10% 20%;

    --secondary: 43 20% 88%;
    --secondary-foreground: 43 90% 50%;

    --muted: 43 20% 88%;
    --muted-foreground: 43 10% 40%;

    --accent: 13 65% 50%;
    --accent-foreground: 43 20% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 43 20% 88%;
    --input: 43 20% 88%;
    --ring: 43 90% 50%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
