@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 43 20% 94%;
    --foreground: 43 10% 20%;
    --card: 43 20% 94%;
    --card-foreground: 43 10% 20%;
    --popover: 43 20% 94%;
    --popover-foreground: 43 10% 20%;
    --primary: 43 90% 50%;
    --primary-foreground: 43 10% 20%;
    --secondary: 13 65% 50%;
    --secondary-foreground: 210 20% 98%;
    --muted: 43 15% 88%;
    --muted-foreground: 43 10% 40%;
    --accent: 13 65% 50%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 43 15% 80%;
    --input: 43 15% 80%;
    --ring: 43 90% 50%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 43 10% 10%;
    --foreground: 210 20% 98%;
    --card: 43 10% 10%;
    --card-foreground: 210 20% 98%;
    --popover: 43 10% 10%;
    --popover-foreground: 210 20% 98%;
    --primary: 43 90% 50%;
    --primary-foreground: 43 10% 20%;
    --secondary: 13 65% 50%;
    --secondary-foreground: 210 20% 98%;
    --muted: 43 10% 20%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 13 65% 50%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 43 10% 20%;
    --input: 43 10% 20%;
    --ring: 43 90% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-pt-sans);
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-poppins);
  }
}
